
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cards List - Bulma Templates</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/7dc3015a44.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="/../css-1/card_recipes_edit.css" />
  </head>

  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/"> Kitchen Assistant </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/pantry"> Pantry </a>
            <a class="navbar-item" href="/menu"> Menu </a>
            <a class="navbar-item" href="/recipes"> My Recipes </a>
            <a class="navbar-item" href="/shoppingList"> Shopping List </a>
            <a class="navbar-item" href="/searchRecipes"> Search Recipes </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
      
      <div class="section">
        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-4" id="column" >
            <div class="card large" id="card-large">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 no-padding" style="color:#0d6efd">Add a Recipe</p>


                          <div class="list-item">
                            <p class="pantry-item">
                                <span class="title is-6"> 
                                    <form method="POST" action="/recipes/<%=recipe.id%>/?_method=PUT">

                                        <label for="recipeName">Recipe Name</label>
                                        <input type="text" name="recipeName" value="<%= recipe.recipeName%>" />
                                      <br>
                                        <label for="categoryName">Recipe Category</label>
                                        <input type="text" name="categoryName" value="<%= recipeCategory.categoryName%>" />
                                        <br>
                                        <div class="all-ingredients">
                                            <% for(let i=0; i<ingredientsArr.length; i++){ %>
                                                <% let ingredient=ingredientsArr[i] %>
                                                    <div class="new-ingredient">
                                                        <label for="ingredientName">Ingredient Name</label>
                                                        <input type="text" name="ingredientName" value="<%= ingredient.ingredientName%>" />
                                                        <br>
                                                        <label for="ingredientQuantity">Ingredient Quantity</label>
                                                        <input type="text" name="ingredientQuantity" value="<%= ingredient.ingredientQuantity%>" />
                                                        <br>
                                                        <label for="quantityUnit">Measurement Unit</label>
                                                        <input type="text" name="quantityUnit" value="<%= ingredient.quantityUnit%>" />
                                    
                                                        <br>
                                                        <label for="button"></label>
                                                        <input type="button" name="button" value="Delete Ingredient" id="deleteIngredientButton" />
                                                        <br>
                                                    </div>
                                                    <% } %>
                                        </div>
                                    
                                        <label for="button"></label>
                                        <input type="button" name="button" value="Add another Ingredient" id="addIngredientButton" />
                                    
                                    
                                        <div class="all-recipe-steps">
                                            <% for(let i=0; i<recipeStepsArr.length; i++){ %>
                                                <% let recipeStep=recipeStepsArr[i] %>
                                                    <div class="new-recipe-step">
                                                        <label for="instructions" class="instructions">Instructions</label>
                                                        
                                                        <textarea name="instructions" cols="50" rows="5"><%= recipeStep.instructions%></textarea>
                                    
                                                        <label for="button"></label>
                                                        <input type="button" name="button" value="Delete Step" id="deleteRecipeStepButton" />
                                                        <br>
                                                    </div>
                                                    <% } %>
                                        </div>
                                        <label for="button"></label>
                                        <input type="button" name="button" value="Add another Step" id="addRecipeStepButton" />
                                    
                                    
                                    
                                    
                                        <br /><br /><br />
                                        <input type="submit" />
                                    </form>
                                        <form action="/recipes/<%=recipe.id%>/?_method=DELETE" method="POST">
                                            <input type="submit" value="Remove">
                                        </form>
                                </span>
                            </p>

                           
                          </div>
              
                      
                  </div>
                </div>
                <div class="content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/recipes_edit.js"></script>
  </body>
</html>
