<script src="/js/pantry_index.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cards List - Bulma Templates</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/7dc3015a44.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css-1/card_recipes_show.css" />
  </head>

  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/"> Kitchen Assistant </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/pantry"> Pantry </a>
            <a class="navbar-item" href="/menu"> Menu </a>
            <a class="navbar-item" href="/recipes"> My Recipes </a>
            <a class="navbar-item" href="/shoppingList"> Shopping List </a>
            <a class="navbar-item" href="/searchRecipes"> Search Recipes </a>
            <a class="navbar-item" href="/userFriends">
              My Friends
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
              <h1 class="title" style="color: #EBF2FA;"><%= recipe.recipeName %> </h1><br>
              <img id="search-recipe-image" src="<%=recipe.imageURL%>" alt="">
            </div>
          </div>

        <form action="/recipes/edit/<%=recipe.id%>" method="GET">
            <input type="submit" value="Edit Recipe">
        </form>

        <form action="/recipes/<%=recipe.id%>/?_method=DELETE" method="POST">
            <input type="submit" value="Delete Recipe">
        </form>
        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-4" id="column" >
            <div class="card large" id="card-large">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 no-padding">Ingredients:</p>
                    <p>
                        <span class="title is-6">
                            <% for(let i=0; i<ingredientsArr.length; i++){ %> 
                                <% let ingredient = ingredientsArr[i] %> 
                                <% let stringIngredient = ingredient.ingredientName + " - " + ingredient.ingredientQuantity + " " + ingredient.quantityUnit %> 
                                <br>
                                <%= stringIngredient %> 
                                <% } %> 
                        </span> 
                    </p>
                   
                      
                  </div>
                </div>
                <div class="content"></div>
              </div>
            </div>
          </div>
        </div>
        
        <div id="app" class="row columns is-multiline">
            <div v-for="card in cardData" key="card.id" class="column is-4" id="column" >
              <div class="card large" id="card-large">
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4 no-padding">Instructions:</p>
                      <p >
                          <span class="title is-6" >
                            <% for(let i=0; i<recipeStepsArr.length; i++){ %> 
                                <% let recipeStep = recipeStepsArr[i] %> 
                                <br>
                                <p class="instructions">Step Number: <%= recipeStep.stepNumber %> </p>
                                
                                <p class="instructions"><%= recipeStep.instructions %> </p>
                                <br>
                                <% } %> 
                          </span> 
                      </p>
                     
                        
                    </div>
                  </div>
                  <div class="content"></div>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>

    <!-- <script src="../js/cardsData.js"></script> -->
  </body>
</html>
